---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import PluginEcosystem from '../components/Plugins.astro';
import Architecture from '../components/Architecture.astro';
import GettingStarted from '../components/GettingStarted.astro';
import Community from '../components/Community.astro';
---

<Layout title="Malbox - FOSS Malware Analysis Platform">
  <main>
    <Hero />
    <Features />
    <PluginEcosystem />
    <Architecture />
    <GettingStarted />
    <Community />
  </main>
</Layout>