---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import PluginEcosystem from "../components/Plugins.astro";
import Architecture from "../components/Architecture.astro";
import GettingStarted from "../components/GettingStarted.astro";
import Community from "../components/Community.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---


<div class="fixed inset-0 z-0 overflow-hidden">
  <div
    class="absolute inset-0 bg-gradient-to-br from-gray-950 via-blue-950/40 to-gray-950"
  >
  </div>
  <div class="absolute inset-0 opacity-5">
    <div
      class="h-full w-full bg-[radial-gradient(#3b82f6_1px,transparent_1px)] bg-[size:40px_40px]"
    >
    </div>
  </div>
  <div
    class="absolute top-0 left-0 w-full h-1/3 bg-blue-700/5 blur-3xl rounded-full transform -translate-x-1/4 -translate-y-1/4"
  >
  </div>
  <div
    class="absolute bottom-0 right-0 w-full h-1/2 bg-blue-700/5 blur-3xl rounded-full transform translate-x-1/4 translate-y-1/4"
  >
  </div>
  <div
    class="absolute top-1/3 right-1/4 w-96 h-96 bg-indigo-700/5 blur-3xl rounded-full"
  >
  </div>
  <div
    class="absolute bottom-1/3 left-1/4 w-96 h-96 bg-blue-700/5 blur-3xl rounded-full"
  >
  </div>
</div>

<Layout title="Malbox - FOSS Malware Analysis Platform">
  <Navbar />
  <main class="relative z-10">
    <Hero />
    <Features />
    <PluginEcosystem />
    <Architecture />
    <GettingStarted />
    <Community />
  </main>
  <Footer />
</Layout>
